@jakala:registry=https://gitlab.workingpropeople.com/api/v4/projects/1646/packages/npm/
//gitlab.workingpropeople.com/api/v4/projects/1646/packages/npm/:_authToken="${GITLAB_WORKINGPROPEOPLE_API_TOKEN}"

@dreadless:registry=https://gitlab.workingpropeople.com/api/v4/projects/1647/packages/npm/
//gitlab.workingpropeople.com/api/v4/projects/1647/packages/npm/:_authToken="${GITLAB_WORKINGPROPEOPLE_API_TOKEN}"
